body{
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: red;
  transition: background 1s ease-out;
}
.App{
  margin-top: 5rem;
}

.light{
  width: 450px;
  padding: 40px 50px;
  border-radius: 3px;
  background-color: white;
}
.dark{
  width: 450px;
  padding: 40px 50px;
  border-radius: 3px;
  background-color: black;
}

.lightbutton{
  color: white;
}
.darkbutton{
  color: black;
}

#text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
  transition: color 1s ease-out;
}

#author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}


.buttons {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.button {
  height: 2em;
  width: 2em;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  transition: background 1s ease-out;
  margin: auto;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  .icon {
    height: 60%;
    width: 60%;
    margin: auto;
  } 
}



#lightbutton{
  color: white;
}
#darkbutton{
  color: black;
}

.buttonBigger {
  width: 8em;
  height: 2.5em;
  color: white;
  border: 0px solid;
  border-radius: 5px;  
  background-color: transparent;
  transition: background 1s ease-out;
  cursor: pointer;
}

#separator{
  display: flex;
  flex-direction: row;
}

.button:hover{
  opacity: 0.9;
}

.footer{
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  width: 100%;
  height: 60px;
  text-align: center;
  -webkit-box-shadow: 4px -7px 28px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -7px 28px 6px rgba(0,0,0,0.75);
box-shadow: 4px -7px 28px 6px rgba(0,0,0,0.75);
}

#lightFooter{
  background-color: white;
  color: black;
}
#darkFooter {
  background-color: black;
  color: white;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author{
  margin-top: 5px
}

#changeTheme{
  padding: 20px;
}

#quoteContainer{
  margin-top: 0px;
}